---
import "../styles/style.css";
import PlaylisteCard from "../components/PlaylisteCard.astro";
import MainLayout from "../layouts/MainLayout.astro"
---
    <MainLayout>
            <h1 class="overskrifter">Spotify-Playlister</h1>
         <section class="sportify-playliste">
            <PlaylisteCard header="Todays Top Hits" text="Jung Kook is on top of the hottest 50!">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede">
            </PlaylisteCard>
            <PlaylisteCard header="RapCaviar" text="New music from Drake, Rod wave and Doja Cat."> 
            <img src="https://picsum.photos/id/68/150/150" alt="coverbillede">
            </PlaylisteCard>
            <PlaylisteCard header="All Out 2010s" text="The biggest song of 2010s.">
            <img src="https://picsum.photos/id/76/150/150" alt="coverbillede">
            </PlaylisteCard>
            <PlaylisteCard header="Rock Classics" text="Rock legends& epic song that contunie to... ">
            <img src="https://picsum.photos/id/240/150/150" alt="coverbillede">
            </PlaylisteCard>
            <PlaylisteCard header="Chill Hits" text="Kick back to the best new and recentchill hits">
            <img src="https://picsum.photos/id/331/150/150" alt="coverbillede">
            </PlaylisteCard>
        </section>

            <h1 class="overskrifter">Fokus</h1>
        <section class="sportify-playliste">
            <PlaylisteCard header="Peaceful Piano" text="Peaceful piano to help you slow down, breath...">
            <img src="https://picsum.photos/id/325/150/150" alt="coverbillede">
            </PlaylisteCard>
            <PlaylisteCard header="Deep Focus" text="Keep calm and focus with ambient and post..."> 
            <img src="https://picsum.photos/id/334/150/150" alt="coverbillede">
            </PlaylisteCard>
            <PlaylisteCard header="Instrumental study" text="Focus with soft study music in the...">
            <img src="https://picsum.photos/id/338/150/150" alt="coverbillede">
            </PlaylisteCard>
            <PlaylisteCard header="Workday Lounge" text="Lounge and chill out music for your workday.">
            <img src="https://picsum.photos/id/349/150/150" alt="coverbillede">
            </PlaylisteCard>
            <PlaylisteCard header="Beats to think to" text="Focus with melodic tehcno and tech house.">
            <img src="https://picsum.photos/id/364/150/150" alt="coverbillede">
            </PlaylisteCard>
        </section>
    </MainLayout>
