---
import "../styles/style.css";
import PlaylisteCard from "../components/PlaylisteCard.astro";
---

	<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
           <nav>
           </nav>
        <header>
            <img src=".../ic" alt="">
            <button>Tilmeld dig</button>
   <button>Log på
   </button>

        </header>
            <aside></aside>

    <main>
                <h1>Spotify-Playliste</h1>
    <section class="sportify-playliste">
        <PlaylisteCard header="Todays Top Hits" text="Jung Kook is on top of the hottest 50!">
        <img src="https://picsum.photos/id/65/150/150" alt="coverbillede">
        </PlaylisteCard>
        <PlaylisteCard header="RapCaviar" text="New music from Drake, Rod wave and Doja Cat."> 
      <img src="https://picsum.photos/id/68/150/150" alt="coverbillede">
        </PlaylisteCard>
        <PlaylisteCard header="All Out 2010s" text="The biggest song of 2010s.">
        <img src="https://picsum.photos/id/76/150/150" alt="coverbillede">
        </PlaylisteCard>
        <PlaylisteCard header="Rock Classics" text="Rock legends& epic song that contunie to... ">
         <img src="https://picsum.photos/id/240/150/150" alt="coverbillede">
        </PlaylisteCard>
        <PlaylisteCard header="Chill Hits" text="Kick back to the best new and recentchill hits">
        <img src="https://picsum.photos/id/331/150/150" alt="coverbillede">
        </PlaylisteCard>
    </section>

            <h1>Fokus</h1>
    <section class="sportify-playliste">
        <PlaylisteCard header="Todays Top Hits" text="Jung Kook is on top of the hottest 50!">
        <img src="https://picsum.photos/id/65/150/150" alt="coverbillede">
        </PlaylisteCard>
        <PlaylisteCard header="RapCaviar" text="New music from Drake, Rod wave and Doja Cat."> 
        <img src="https://picsum.photos/id/68/150/150" alt="coverbillede">
        </PlaylisteCard>
        <PlaylisteCard header="All Out 2010s" text="The biggest song of 2010s.">
        <img src="https://picsum.photos/id/76/150/150" alt="coverbillede">
        </PlaylisteCard>
        <PlaylisteCard header="Rock Classics" text="Rock legends& epic song that contunie to... ">
         <img src="https://picsum.photos/id/240/150/150" alt="coverbillede">
        </PlaylisteCard>
        <PlaylisteCard header="Chill Hits" text="Kick back to the best new and recentchill hits">
        <img src="https://picsum.photos/id/331/150/150" alt="coverbillede">
        </PlaylisteCard>
    </section>
    </main>


</body>
</html>

<!--Her style man det enkelte dokument. Det er kunne denne fil som vil få denne styling-->
<style> 
</style>