---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro"
import SearchCards from "../components/SearchCards.astro";
const showSearch = true;

---
        <MainLayout showSearch={true} title="Search">
            <h1 class="overskrifter">Udforsk alle</h1>
         <section class="sportify-playliste" >
            <SearchCards header="Podcast" color="first">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
            <SearchCards header="Specielt til dig" color="second">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Hitlister" color="third" >
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Nye udgivelser" color="four">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Opdag" color="fifth">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Årstider" color="sixth">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
              <SearchCards header="Nye udgivelser" color="seven">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Pop" color="eight">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
              <SearchCards header="Sommer" color="nine">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
              <SearchCards header="Party" color="ten">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej"> 
            </SearchCards>
                <SearchCards header="Hiphop" color="first">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
            <SearchCards header="EQUAL" color="second">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Hygge" color="third">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Træning" color="four">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Rock" color="fifth">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Hjemme" color="sixth">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
              <SearchCards header="Fokus" color="seven">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
             <SearchCards header="Stemning" color="eight">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
              <SearchCards header="Pride" color="nine">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
              <SearchCards header="Higher ground" color="ten">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
            <SearchCards header="Romantisk" color="eight">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
              <SearchCards header="Dansk" color="nine">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej"> 
            </SearchCards>
              <SearchCards header="Wellness" color="ten">
            <img src="https://picsum.photos/id/65/150/150" alt="coverbillede" class="drej">
            </SearchCards>
        </section>
    </MainLayout>
