---
const text = Astro.props.text;
const img = Astro.props.img;

---
<article>
<slot/>
<p>{text}</p>
</article>

<style>
    p {
        font-family: "CircularSpotifyText-Bold";

    }
    article {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-top: 20px;
    }
</style>

