---
const header = Astro.props.header;
const text = Astro.props.text;
const img = Astro.props.img;

---
<article>
<slot/>
<h2>{header}</h2>
<p>{text}</p>
</article>

<style>
    h2 {
        font-size: 1rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p {
        color: #A7A8A7;
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
    article {
        background-color:#181818;
        border-radius: 5px;
        padding: 15px;
        width: 190px;
        margin-bottom: 40px;
        margin-top: 20px;
        margin: 20px;
    } 
    article:hover{
                background-color:#4a4a4a;
                transition: ease-in;

    } 
</style>