---
import "../styles/style.css";
import PlaylisteCard from "../components/PlaylisteCard.astro";
import Nav from "../components/Nav.astro";
import Button from "../components/Button.astro";
import OpretPlayliste from "../components/OpretPlayliste.astro";
import Pil from "../components/Pil.astro";
import Bibliotek from "../components/Bibliotek.astro"
import Aside from "../components/Aside.astro";
import Header from "../components/Header.astro"
const {title, showSearch}= Astro.props;

---

	<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <nav>
        <Nav>
        </Nav>
    </nav>

    <header>
  <div class="venstre">
            <Pil><img src="/icons/back-btn.svg" alt="coverbillede" class="icons"></Pil>
            <Pil><img src="/icons/forward-btn.svg" alt="coverbillede" class="icons"></Pil>
     
    
            {showSearch && 
        <input type="text" id="search" name="search" placeholder="Hvad vil du lytte til?">
    </form>}
   </div>
  
        <div class="højre">
            <Button variant="primary">Tilmeld dig</Button>   
            <Button variant="secondary">Log på</Button>  
        </div>     </header>

    <main>
            <slot/>
    </main>

    <aside>
      <Aside>  
    </aside>  

</body>
</html>

